/* MOBILE */

/* DESKTOP */
@media screen and (min-width: 770px) {
  .aboutMe {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #29322f;
  }
  .aboutMeContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
